In [1]:
import pandas as pd
import numpy as np
import sqlalchemy 
from sqlalchemy import create_engine

In [7]:
#mag_jour = pd.read_excel('D:\\PerrenotStage\\alimentation_tables\\magasins_journaliers.xlsx', sheet_name=0)
mag_jour = pd.read_excel('D:\\PerrenotStage\\alimentation_tables\\DocumentExploitation.xlsx', sheet_name=0, usecols=[9,11])
mag_jour.head(60)

   Imm Mag  Rolls
0    C8497    1.0
1    TZ148   15.0
2    TZ148    3.0
3    TZ058    8.0
4    TZ058    8.0
5    TZ058    1.0
6    EMB26   51.0
7    TZ624    2.0
8    TZ624    3.0
9    TZ624    3.0
10   C8403    3.0
11   C8403    2.0
12   C8403    1.0
13   E8615    2.0
14   E8615    1.0
15   E8615    1.0
16   TL420    2.0
17   TW512   10.0
18   TW512    4.0
19   TW512    3.0
20   E8679    2.0
21   E8679    2.0
22   E1715    1.6
23   E1715    4.0
24   E1715    5.0
25   E1715    1.6
26   E1730    2.0
27   E1730    1.0
28   TK820    2.0
29   TK820    1.0
30   TK820    2.0
31   TK820    1.0
32   TK820    3.0
33   C8226    2.0
34   C8226    3.0
35   E3309    3.0
36   E3309    1.0
37   C8422    1.0
38   C8422    3.0
39   E3760    1.0
40   E3760    2.0
41   E3760    1.0
42   E3760    NaN
43   E3760    2.0
44   E8638    2.0
45   E8638    2.0
46   E1195    2.0
47   E1195    1.0
48   E1726    1.0
49   E1757    2.0
50   C3154    3.0
51   C3154    1.0
52   C3195    2.0
53   C3195    2.0
54   C3195    2.0
55   C3195    1.0
56   C3932    1.0
57   C3932    1.0
58   C3932    2.0
59   E3395    3.0

In [6]:
#mag_jour['nbre_boxe']=mag_jour['nbre_boxe'].str.replace(" ","")
#mag_jour

In [64]:
mag_jour[['nbre_palette', 'nbre_rolls', 'nbre_box']]=mag_jour[['nbre_palette', 'nbre_rolls', 'nbre_box']].fillna(0)
mag_jour

    enseigne_id  nbre_rolls  nbre_palette  nbre_box magasin_code
0             1         2.0           0.0       0.0        TZ624
1             1         2.1           0.0       1.0        TZ624
2             1         2.0           0.0       2.0        C8403
3             1         2.0           0.0       2.0        C8403
4             1         1.0           0.0       0.0        TL420
5             1         1.0           0.0       0.0        TL420
6             1         8.8           0.0       0.0        TW512
7             1         3.9           0.0       0.0        TW512
8             1         1.0           0.0       0.0        E8679
9             1         1.0           0.0       0.0        E8679
10            1         1.6           0.0       0.0        E1715
11            1         3.0           0.0       0.0        E1715
12            1         5.9           0.0       0.0        E1715
13            1         2.0           0.0       0.0        E1730
14            1         1.0           0.0       0.0        E1730
15            1         2.0           0.0       0.0        TK820
16            1         2.0           0.0       0.0        TK820
17            1         0.7           0.0       0.0        TK820
18            1         1.0           0.0       0.0        C8226
19            1         1.0           0.0       0.0        C8226
20            1         3.0           0.0       0.0        E3309
21            1         1.0           0.0       0.0        E3309
22            1         2.0           0.0       0.0        C8422
23            1         1.0           0.0       0.0        E3760
24            1         1.0           0.0       0.0        E3760
25            1         1.0           0.0       0.0        E3760
26            1         2.0           0.0       0.0        E8638
27            1         1.0           0.0       0.0        E8638
28            1         1.0           0.0       0.0        E8638
29            1         1.0           0.0       0.0        E1757
30            1         1.0           0.0       0.0        E1757
31            1         2.0           0.0       0.0        C3195
32            1         2.0           0.0       0.0        C3195
33            1         3.0           0.0       0.0        E3395
34            1         1.0           0.0       0.0        E3395
35            1         1.2           0.0       0.0        C8403
36            1         0.8           0.0       0.0        E8615
37            1         3.4           0.0       0.0        TW512
38            1         2.0           0.0       0.0        E8679
39            1         1.3           0.0       0.0        TK820
40            1         1.1           0.0       0.0        C8422
41            1         0.6           0.0       0.0        E3760
42            1         0.0           0.0       0.0        E3760
43            1         1.3           0.0       0.0        C3195
44            1         3.0           0.0       0.0        TZ624
45            1         1.6           0.0       0.0        E1715
46            1         3.0           0.0       0.0        TK820
47            1         3.0           0.0       0.0        C8226
48            1         2.0           0.0       0.0        E3760
49            1         1.0           0.0       0.0        E1726
50            1         1.0           0.0       0.0        C3195
51            4         3.0           3.0       0.0       CANNES
52            4        20.0           2.0       0.0      MOUGINS
53            6        10.0           0.0       0.0      CESSOLE
54            6        11.0           0.0       1.0      ST RAPH
55            6        12.0           0.0       0.0    JUAN POIN
56            6         9.0           0.0       3.0    JUAN POIN
57            6         5.0           0.0       0.0    JUAN POIN
58            6         1.0           0.0       0.0    JUAN POIN
59            6         1.0           0.0       0.0    JUAN POIN

In [65]:
#additionner volume des rolls pour chaque magasin
rolls=mag_jour.groupby(['enseigne_id','magasin_code'])['nbre_rolls'].sum()
rolls=rolls.reset_index()
rolls

    enseigne_id magasin_code  nbre_rolls
0             1        C3195         6.3
1             1        C8226         5.0
2             1        C8403         5.2
3             1        C8422         3.1
4             1        E1715        12.1
5             1        E1726         1.0
6             1        E1730         3.0
7             1        E1757         2.0
8             1        E3309         4.0
9             1        E3395         4.0
10            1        E3760         5.6
11            1        E8615         0.8
12            1        E8638         4.0
13            1        E8679         4.0
14            1        TK820         9.0
15            1        TL420         2.0
16            1        TW512        16.1
17            1        TZ624         7.1
18            4       CANNES         3.0
19            4      MOUGINS        20.0
20            6      CESSOLE        10.0
21            6    JUAN POIN        28.0
22            6      ST RAPH        11.0

In [66]:
boxe=mag_jour.groupby(['magasin_code'])['nbre_box'].sum()
boxe.reset_index()

   magasin_code  nbre_box
0         C3195       0.0
1         C8226       0.0
2         C8403       4.0
3         C8422       0.0
4        CANNES       0.0
5       CESSOLE       0.0
6         E1715       0.0
7         E1726       0.0
8         E1730       0.0
9         E1757       0.0
10        E3309       0.0
11        E3395       0.0
12        E3760       0.0
13        E8615       0.0
14        E8638       0.0
15        E8679       0.0
16    JUAN POIN       3.0
17      MOUGINS       0.0
18      ST RAPH       1.0
19        TK820       0.0
20        TL420       0.0
21        TW512       0.0
22        TZ624       1.0

In [67]:
#additionner volume des palletes pour chaque magasin
pallete=mag_jour.groupby(['magasin_code'])['nbre_palette'].sum()
pallete.reset_index()

   magasin_code  nbre_palette
0         C3195           0.0
1         C8226           0.0
2         C8403           0.0
3         C8422           0.0
4        CANNES           3.0
5       CESSOLE           0.0
6         E1715           0.0
7         E1726           0.0
8         E1730           0.0
9         E1757           0.0
10        E3309           0.0
11        E3395           0.0
12        E3760           0.0
13        E8615           0.0
14        E8638           0.0
15        E8679           0.0
16    JUAN POIN           0.0
17      MOUGINS           2.0
18      ST RAPH           0.0
19        TK820           0.0
20        TL420           0.0
21        TW512           0.0
22        TZ624           0.0

In [68]:

#jointure des deux volumes rolls, palette
mag_jour_final=pd.merge(rolls, pallete, on='magasin_code', how='inner')
mag_jour_final

    enseigne_id magasin_code  nbre_rolls  nbre_palette
0             1        C3195         6.3           0.0
1             1        C8226         5.0           0.0
2             1        C8403         5.2           0.0
3             1        C8422         3.1           0.0
4             1        E1715        12.1           0.0
5             1        E1726         1.0           0.0
6             1        E1730         3.0           0.0
7             1        E1757         2.0           0.0
8             1        E3309         4.0           0.0
9             1        E3395         4.0           0.0
10            1        E3760         5.6           0.0
11            1        E8615         0.8           0.0
12            1        E8638         4.0           0.0
13            1        E8679         4.0           0.0
14            1        TK820         9.0           0.0
15            1        TL420         2.0           0.0
16            1        TW512        16.1           0.0
17            1        TZ624         7.1           0.0
18            4       CANNES         3.0           3.0
19            4      MOUGINS        20.0           2.0
20            6      CESSOLE        10.0           0.0
21            6    JUAN POIN        28.0           0.0
22            6      ST RAPH        11.0           0.0

In [69]:
#joindre box aux deux volumes
mag_jour_final=pd.merge(mag_jour_final, boxe, on='magasin_code', how='inner')
mag_jour_final

    enseigne_id magasin_code  nbre_rolls  nbre_palette  nbre_box
0             1        C3195         6.3           0.0       0.0
1             1        C8226         5.0           0.0       0.0
2             1        C8403         5.2           0.0       4.0
3             1        C8422         3.1           0.0       0.0
4             1        E1715        12.1           0.0       0.0
5             1        E1726         1.0           0.0       0.0
6             1        E1730         3.0           0.0       0.0
7             1        E1757         2.0           0.0       0.0
8             1        E3309         4.0           0.0       0.0
9             1        E3395         4.0           0.0       0.0
10            1        E3760         5.6           0.0       0.0
11            1        E8615         0.8           0.0       0.0
12            1        E8638         4.0           0.0       0.0
13            1        E8679         4.0           0.0       0.0
14            1        TK820         9.0           0.0       0.0
15            1        TL420         2.0           0.0       0.0
16            1        TW512        16.1           0.0       0.0
17            1        TZ624         7.1           0.0       1.0
18            4       CANNES         3.0           3.0       0.0
19            4      MOUGINS        20.0           2.0       0.0
20            6      CESSOLE        10.0           0.0       0.0
21            6    JUAN POIN        28.0           0.0       3.0
22            6      ST RAPH        11.0           0.0       1.0

In [70]:
# connexion BDD
engine = create_engine('mysql+pymysql://simplon:Simplon2020@localhost:3306/perrenot')

In [71]:
#récupération magasin_id de chaque magasin
magasin_id=[]
requete="select magasin_id as id from magasin where magasin_code='%s' and enseigne_id='%s'"
for i in range(mag_jour_final.shape[0]):
    mag_cd=mag_jour_final.iloc[i,1]
    ens_id=mag_jour_final.iloc[i,0]
    mag_id=pd.read_sql_query(requete %(mag_cd,ens_id), engine)['id']
    magasin_id.append(mag_id[0])
mag_jour_final['magasin_id']=magasin_id    
print(mag_jour_final)

    enseigne_id magasin_code  nbre_rolls  nbre_palette  nbre_box  magasin_id
0             1        C3195         6.3           0.0       0.0           3
1             1        C8226         5.0           0.0       0.0         146
2             1        C8403         5.2           0.0       4.0         149
3             1        C8422         3.1           0.0       0.0          26
4             1        E1715        12.1           0.0       0.0         169
5             1        E1726         1.0           0.0       0.0          52
6             1        E1730         3.0           0.0       0.0          53
7             1        E1757         2.0           0.0       0.0         177
8             1        E3309         4.0           0.0       0.0          61
9             1        E3395         4.0           0.0       0.0          64
10            1        E3760         5.6           0.0       0.0          78
11            1        E8615         0.8           0.0       0.0          87
12            1        E8638         4.0           0.0       0.0         174
13            1        E8679         4.0           0.0       0.0          89
14            1        TK820         9.0           0.0       0.0         172
15            1        TL420         2.0           0.0       0.0         151
16            1        TW512        16.1           0.0       0.0         134
17            1        TZ624         7.1           0.0       1.0         143
18            4       CANNES         3.0           3.0       0.0         193
19            4      MOUGINS        20.0           2.0       0.0         194
20            6      CESSOLE        10.0           0.0       0.0         226
21            6    JUAN POIN        28.0           0.0       3.0         227
22            6      ST RAPH        11.0           0.0       1.0         228

In [72]:
del mag_jour_final['enseigne_id']
del mag_jour_final['magasin_code']
mag_jour_final

    nbre_rolls  nbre_palette  nbre_box  magasin_id
0          6.3           0.0       0.0           3
1          5.0           0.0       0.0         146
2          5.2           0.0       4.0         149
3          3.1           0.0       0.0          26
4         12.1           0.0       0.0         169
5          1.0           0.0       0.0          52
6          3.0           0.0       0.0          53
7          2.0           0.0       0.0         177
8          4.0           0.0       0.0          61
9          4.0           0.0       0.0          64
10         5.6           0.0       0.0          78
11         0.8           0.0       0.0          87
12         4.0           0.0       0.0         174
13         4.0           0.0       0.0          89
14         9.0           0.0       0.0         172
15         2.0           0.0       0.0         151
16        16.1           0.0       0.0         134
17         7.1           0.0       1.0         143
18         3.0           3.0       0.0         193
19        20.0           2.0       0.0         194
20        10.0           0.0       0.0         226
21        28.0           0.0       3.0         227
22        11.0           0.0       1.0         228

In [73]:

mag_jour_final['date']='2020-10-24'
mag_jour_final

    nbre_rolls  nbre_palette  nbre_box  magasin_id        date
0          6.3           0.0       0.0           3  2020-10-24
1          5.0           0.0       0.0         146  2020-10-24
2          5.2           0.0       4.0         149  2020-10-24
3          3.1           0.0       0.0          26  2020-10-24
4         12.1           0.0       0.0         169  2020-10-24
5          1.0           0.0       0.0          52  2020-10-24
6          3.0           0.0       0.0          53  2020-10-24
7          2.0           0.0       0.0         177  2020-10-24
8          4.0           0.0       0.0          61  2020-10-24
9          4.0           0.0       0.0          64  2020-10-24
10         5.6           0.0       0.0          78  2020-10-24
11         0.8           0.0       0.0          87  2020-10-24
12         4.0           0.0       0.0         174  2020-10-24
13         4.0           0.0       0.0          89  2020-10-24
14         9.0           0.0       0.0         172  2020-10-24
15         2.0           0.0       0.0         151  2020-10-24
16        16.1           0.0       0.0         134  2020-10-24
17         7.1           0.0       1.0         143  2020-10-24
18         3.0           3.0       0.0         193  2020-10-24
19        20.0           2.0       0.0         194  2020-10-24
20        10.0           0.0       0.0         226  2020-10-24
21        28.0           0.0       3.0         227  2020-10-24
22        11.0           0.0       1.0         228  2020-10-24

In [74]:
# ajouter des camions aux magasins
camion_id=[2,2,2,2,2,9,9,9,9,9,9,9,9,9,11,11,11,12,12,12,13,14,13]
mag_jour_final['camion_id']=camion_id
mag_jour_final['date']
mag_jour_final

    nbre_rolls  nbre_palette  nbre_box  magasin_id        date  camion_id
0          6.3           0.0       0.0           3  2020-10-24          2
1          5.0           0.0       0.0         146  2020-10-24          2
2          5.2           0.0       4.0         149  2020-10-24          2
3          3.1           0.0       0.0          26  2020-10-24          2
4         12.1           0.0       0.0         169  2020-10-24          2
5          1.0           0.0       0.0          52  2020-10-24          9
6          3.0           0.0       0.0          53  2020-10-24          9
7          2.0           0.0       0.0         177  2020-10-24          9
8          4.0           0.0       0.0          61  2020-10-24          9
9          4.0           0.0       0.0          64  2020-10-24          9
10         5.6           0.0       0.0          78  2020-10-24          9
11         0.8           0.0       0.0          87  2020-10-24          9
12         4.0           0.0       0.0         174  2020-10-24          9
13         4.0           0.0       0.0          89  2020-10-24          9
14         9.0           0.0       0.0         172  2020-10-24         11
15         2.0           0.0       0.0         151  2020-10-24         11
16        16.1           0.0       0.0         134  2020-10-24         11
17         7.1           0.0       1.0         143  2020-10-24         12
18         3.0           3.0       0.0         193  2020-10-24         12
19        20.0           2.0       0.0         194  2020-10-24         12
20        10.0           0.0       0.0         226  2020-10-24         13
21        28.0           0.0       3.0         227  2020-10-24         14
22        11.0           0.0       1.0         228  2020-10-24         13

In [75]:
# alimenter la table camion_magasin
mag_jour_final.to_sql('camion_magasin', con=engine, index=False, if_exists='append')

In [76]:
# créer dataframe chauffeur_camion
camion_id=[2,9,11,12,13,14]
chauf_id=[1,3,5,9,11,12]
chauffeur_camion = pd.DataFrame({'chauf_id': chauf_id,'camion_id': camion_id}, columns = ['chauf_id', 'camion_id'])
chauffeur_camion['date']='2020-10-24'
chauffeur_camion

   chauf_id  camion_id        date
0         1          2  2020-10-24
1         3          9  2020-10-24
2         5         11  2020-10-24
3         9         12  2020-10-24
4        11         13  2020-10-24
5        12         14  2020-10-24

In [77]:
# alimenter la table chauffeur_camion
chauffeur_camion.to_sql('chauffeur_camion', con=engine, index=False, if_exists='append')